/* BACKGROUND https://unsplash.com/photos/mcSDtbWXUZU */ 
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("bg.jpg");
  background-size: 100vw;
  background-attachment: fixed;
}

#container {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.404);
}
